---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TARNÓW.TECH - System ogłoszeń lokalnych v3.0.0" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | TARNÓW.TECH</title>
	</head>
	<body>
		<slot />
	</body>
</html>
